<h1 class="mt20">Questions of {{qtitle }}</h1>
<div class="text-center mt20">
    <button mat-raised-button color="primary" [routerLink]="'/admin/addquestions/'+qId+'/'+qtitle">
        Add Question
    </button>
</div>


<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">

            <mat-card *ngFor="let ques of questions; let i =index" class="mt20">
                <mat-card-content>
                    <p>
                        <b>Q {{i+1}})</b><span class="ml20" [innerHTML]="ques.content"></span>
                    </p>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <b>Option A: </b> {{ques.option1}}
                            </div>
                            <div class="col-md-6">
                                <b>Option B: </b> {{ques.option2}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mt20">
                                <b>Option C: </b> {{ques.option3}}
                            </div>
                            <div class="col-md-6 mt20">
                                <b>Option D: </b> {{ques.option4}}
                            </div>
                        </div>
                        <mat-divider class="mt20"></mat-divider>
                            <p>
                            <br>
                            <br>
                                <b>Correct Answer: </b>{{ques.answer}}
                            </p>

                    </div>
                        <div class="text-center">
                            <button mat-stroked-button color="primary" class="full-width mr20" [routerLink]="'/admin/updatequestion/'+ques.quesid">
                                Update Question
                            </button>
                            <button mat-stroked-button color="warn" (click)="deleteQuestion(ques.quesid)">
                                Delete Question
                            </button>
                        </div>
                </mat-card-content>
            </mat-card>

            


        </div>
    </div>
</div>