<mat-card>
    <h1>Add New Question for {{qtitle}}</h1>
    <div class="bootstrap-wrapper">
        <div class="container text-center mt20">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                
                    <form (ngSubmit)="formSubmit()">
                    
                        <!-- <mat-form-field class="full-width" appearance="fill">
                            <mat-label>Enter Question Content</mat-label>
                            <textarea type="text" name="title" placeholder="Enter here" [(ngModel)]="question.content" matInput rows="5" ></textarea>
                        </mat-form-field> -->

                        <ckeditor [editor]="Editor"
                        [(ngModel)]="question.content"
                        name="content"
                         data="<h2>Write your Question?</h2>"></ckeditor>
                        
                        <!-- option 1 and 2 -->
                        <div class="row mt20">
                            <div class="col-md-6">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Enter option 1</mat-label>
                                    <input type="text" name="title" placeholder="Enter here" [(ngModel)]="question.option1" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Enter option 2</mat-label>
                                    <input type="text" name="title" placeholder="Enter here" [(ngModel)]="question.option2" matInput />
                                </mat-form-field>
                                
                            </div>
                        </div>


                        <!-- option 3 and 6 -->
                        <div class="row">
                            <div class="col-md-6 mt20">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Enter option 3</mat-label>
                                    <input type="text" name="title" placeholder="Enter here" [(ngModel)]="question.option3" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 mt20">
                                <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Enter option 4</mat-label>
                                    <input type="text" name="title" placeholder="Enter here" [(ngModel)]="question.option4" matInput />
                                </mat-form-field>
                                
                            </div>
                        </div>

                        <!-- //answer  -->

                                <!-- <mat-form-field class="full-width" appearance="fill">
                                    <mat-label>Enter Answer</mat-label>
                                    <textarea type="text" name="title" placeholder="Enter here" [(ngModel)]="question.answer" matInput rows="5"></textarea>
                                </mat-form-field> -->
                                
                                <mat-form-field appearance="fill" class="full-width">
                                    <mat-label>Select the answer</mat-label>
                                    <mat-select  [(ngModel)]="question.answer" name="answer">
                                        <mat-option value="{{question.option2}}" *ngIf="question.option1">{{question.option2}}</mat-option>
                                        <mat-option value="{{question.option1}}" *ngIf="question.option2">{{question.option1}}</mat-option>
                                      <mat-option value="{{question.option3}}" *ngIf="question.option3">{{question.option3}}</mat-option>
                                      <mat-option value="{{question.option4}}" *ngIf="question.option4">{{question.option4}}</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            




                                <!-- //submit -->
                            
                                <mat-card-actions class="text-center">
                                    <button type="submit" mat-raised-button color="primary">Add</button>
                                </mat-card-actions>
                
                    </form>
                </div>
            </div>
        </div>
    </div>
</mat-card>