
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h1 style="color: slateblue;">Welcome to QuizzPortal!!</h1>
                <a class="ml20" routerLink="/user/viewusercategories"
                mat-raised-button 
                color="primary">
                Quiz By Categories
               </a>
               <a class="ml20"  routerLink="/user/viewuserquizzes"
               mat-raised-button 
               color="primary">
              All Quizzes
              </a>
            </div>
        </div>
    </div>
</div>
