<footer class="mt20">
  <div class="bootstrap-wrapper">
    <div class="container">
      <p class="text-center">&copy; WebProdigies . All Rights Reserved.</p>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <ul class>
            <li>
              <a href="#">Privacy</a>
            </li>
            <li>
              <a href="#">Terms</a>
            </li>
            <li>
              <a href="#">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
      
    </div>
  </div>
</footer>